{% macro render_pagination(pagination) %}
  <div class="pagination row">
    {% if pagination.has_prev %}
      <a class="arrow" href="{{ pagination.prev|url }}">&laquo; Previous</a>
    {% else %}
      <span class="disabled">&laquo; Previous</span>
    {% endif %}

    {% for i in range(1, pagination.page) %}
        <a href="{{ pagination.for_page(i)|url }}"> {{i}} </a>
    {% endfor %}

    <span class="pagination__current">{{ pagination.page }}</span>

    {% for i in range(pagination.page + 1, pagination.pages +1) %}
        <a href="{{ pagination.for_page(i)|url }}"> {{i}} </a>
    {% endfor %}

    {% if pagination.has_next %}
      <a class="arrow" href="{{ pagination.next|url }}">Next &raquo;</a>
    {% else %}
      <span class="disabled">Next &raquo;</span>
    {% endif %}
  </div>
{% endmacro %}
