{% extends "layout.html" %}

{% block meta_tags %}
    <meta property="og:title"         content="BOARD" />
    <meta property="og:description"   content="@EuropeanPriateparty - BOARD" />
    <meta property="og:image"         content="https://european-pirateparty.eu/static/images/banner.jpg" />
    <meta name="twitter:image" content="https://european-pirateparty.eu/static/images/banner.jpg" />
	<meta property="og:type"          content="website" />
    <meta property="og:type"          content="website" />
    <meta property="og:url"           content="https://european-pirateparty.eu{{ this|url }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="BOARD" />
    <meta name="twitter:description" content="@EuropeanPriateparty - BOARD" />
    <meta name="twitter:site" content="@EuropeanPirates " />
    <meta name="twitter:creator" content="@EuropeanPirates " />
{% endblock %}
{% block title %}BOARD{% endblock %}

{% block header %}
<h1>BOARD</h1>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-4 mep">
        <img class="img-thumbnail mx-auto" src="/static/img/mikulas_peksa-board.jpg" />
        <h3>Mikuláš Peksa (PPCZ)</h3>
        <h4> Chairperson </h4>
    </div>
    <div class="col-md-4 mep">
        <img class="img-thumbnail mx-auto" src="/static/img/marketa_gregorova-board.jpg" />
        <h3>Markéta Gregorová (PPCZ)</h3>
        <h4> Vice-chairperson </h4>
    </div>
    <div class="col-md-4 mep">
        <img class="img-thumbnail mx-auto" src="/static/img/oktavia.jpeg" />
        <h3>Oktavía Hrund Jónsdóttir (PPIS)</h3>
        <h4>Vice-chairperson</h4>
    </div>

    <div class="col-md-4 mep">
        <img class="img-thumbnail mx-auto" src="/static/img/Placeholder-man.jpg" />
        <h3>Alessandro Ciofini (PPIT)</h3>
        <h4>Treasurer</h4>
    </div>
    <div class="col-md-4 mep">
        <img class="img-thumbnail mx-auto" src="/static/img/Placeholder-woman.jpg" />
        <h3>Gamithra Marga (PPIS)</h3>
        <h4>Board member</h4>
    </div>
    <div class="col-md-4 mep">
        <img class="img-thumbnail mx-auto" src="/static/img/Placeholder-man.jpg" />
        <h3>Oliver Herzig (PPDE)</h3>
        <h4>Board member</h4>
    </div>

    <div class="col-md-4 mep">
        <img class="img-thumbnail mx-auto" src="/static/img/Placeholder-woman.jpg" />
        <h3>Florie Marie (PPFR)</h3>
        <h4>Board member</h4>
    </div>
    <div class="col-md-4 mep">
        <img class="img-thumbnail mx-auto" src="/static/img/Placeholder-man.jpg" />
        <h3>Lukáš Lev Červinka (PPCZ)</h3>
        <h4>Board member</h4>
    </div>
    <div class="col-md-4 mep">
        <img class="img-thumbnail mx-auto" src="/static/img/Placeholder-woman.jpg" />
        <h3>Katla Hólm Vilbergs Þórhildardóttir (PPIS)</h3>
        <h4>Board member</h4>
    </div>

  </div>
{% endblock %}

