<!-- Footer -->
<footer>
    <div class="container">
        <div class="row footer">
            <div class="col-sm-4">
                <img src="{{ '/static/svg/Logo_European_Pirate_Party-inversed.svg'|url }}" alt="Logo" />
            </div>
            <div class="col-sm-4">
                <h5>EUROPEAN ELECTIONS</h5>
                <hr>
                <a href="/ep-elections/"> Overview </a><br>
                <a href="/programme">Programme</a><br>
                <a href="/ep-elections/interviews-candidates/"> Interviews with Candidates </a><br>
            </div>
            <div class="col-sm-4">
                <h5>ABOUT</h5>
                <hr>
                <a href="/contact-press/">Contact / Press</a><br>
                <a href="/meetings/">Council meetings</a><br>
                <a href="/streaming/">Streaming</a><br>
                <a href="/provider/">Provider</a><br>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <hr>
                <p class="copyright text-muted">♡2020 by Author/Artist. Copying is an act of love. Please copy.</p>
            </div>
        </div>
    </div>
</footer>
