<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

{% block meta_tags %}
{% endblock %}

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="/favicon/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon/favicon-128.png" sizes="128x128">
<link rel="stylesheet" type="text/css" href="/static/foundation-icons.css" />
<link rel="stylesheet" type="text/css" href="/static/css/unmi.css" />
<link rel="stylesheet" type="text/css" href="/static/css/dropdown.css" />
<link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/custom-modifications.css" />

<link rel="stylesheet" href="{{ '/static/css/jquery.cookieBar.min.css'|url }}">

<link rel="stylesheet" type="text/css" href="{{ '/static/foundation-icons.css'|url }}" />
<link rel="stylesheet" type="text/css" href="{{ '/font-awesome-4.7.0/css/font-awesome.min.css'|url }}" />

<link rel="stylesheet" href="{{ '/static/css/style.css'|url }}">
<link rel="stylesheet" type="text/css" href="{{ '/static/css/share_buttons.css'|url }}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookieBar.min.js"></script>

<title>{% block title %}{% endblock %}</title>

<body>

    {% include 'navigation.html' %}

    <main role="main">
        <!-- Page Header -->
        <header class="masthead">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 mx-auto">
                        {% block header %}{% endblock %}
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% include 'footer.html' %}

    </main>


