{% extends "layout.html" %}

{% block title %}MEMBERS OF EUROPEAN PARLIAMENT{% endblock %}

{% block header %}
<h1>MEMBERS OF EUROPEAN PARLIAMENT</h1>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-6 mep">
        <img class="img-thumbnail mx-auto" src="/static/img/patrick_breyer.jpg" />
        <h2> Patrick Breyer </h2>
        <p>
            <a href="http://www.europarl.europa.eu/meps/en/197431/PATRICK_BREYER/home">MEP card</a><br>
            <a href="http://www.patrick-breyer.de">Personal website</a><br>
            <a href="http://term9.votewatch.eu/en/term9-patrick-breyer.html">VoteWatch</a><br>
            <a href="https://www.facebook.com/PiratPatrickBreyer/">Facebook</a><br>
            <a href="https://twitter.com/echo_pbreyer">Twitter</a><br>
            <a href="https://www.instagram.com/patrickbreyer_mep/">Instagram</a><br>
        </p>
    </div>
    <div class="col-md-6 mep">
        <img class="img-thumbnail mx-auto" src="/static/img/marketa_gregorova.jpg" />
        <h2>Markéta Gregorová</h2>
        <p>
            <a href="http://www.europarl.europa.eu/meps/en/197549/MARKETA_GREGOROVA/home">MEP card</a><br>
            <a href="http://gregorova.eu">Personal website</a><br>
            <a href="http://term9.votewatch.eu/en/term9-marketa-gregorova.html">VoteWatch</a><br>
            <a href="https://www.facebook.com/MEPGregorova/">Facebook</a><br>
            <a href="https://twitter.com/MarketkaG">Twitter</a><br>
            <a href="https://www.instagram.com/ruzovarebelka/">Instagram</a><br>
        </p>
    </div>
    <div class="col-md-6 mep">
        <img class="img-thumbnail mx-auto" src="/static/img/marcel_kolaja.jpg" />
        <h2>Marcel Kolaja</h2>
        <p>
            <a href="http://www.europarl.europa.eu/meps/en/197546/MARCEL_KOLAJA/home">MEP card</a><br>
            <a href="http://kolaja.eu">Personal website</a><br>
            <a href="http://term9.votewatch.eu/en/term9-marcel-kolaja.html">VoteWatch</a><br>
            <a href="https://www.facebook.com/PiratKolaja/">Facebook</a><br>
            <a href="https://twitter.com/PiratKolaja">Twitter</a><br>
            <a href="https://www.instagram.com/kolajamarcel/">Instagram</a><br>
        </p>
    </div>
    <div class="col-md-6 mep">
        <img class="img-thumbnail mx-auto" src="/static/img/mikulas_peksa.jpg" />
        <h2>Mikuláš Peksa</h2>
        <p>
            <a href="http://www.europarl.europa.eu/meps/en/197539/MIKULAS_PEKSA/home#mep-card-content">MEP card</a><br>
            <a href="http://mikulas-peksa.eu/">Personal website</a><br>
            <a href="http://term9.votewatch.eu/en/term9-mikulas-peksa.html">VoteWatch</a><br>
            <a href="https://www.facebook.com/peksamikulas/">Facebook</a><br>
            <a href="https://twitter.com/vonpecka">Twitter</a><br>
            <a href="https://www.instagram.com/mikulaspeksa_official/">Instagram</a><br>
        </p>
    </div>
  </div>

{% endblock %}
