<!-- Navigation -->
<script>
    $(document).ready(function () {
        function getCookie(cname) {
          var name = cname + "=";
          var ca = document.cookie.split(';');
          for(var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
              c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
            }
          }
          return "";
        }
        $(function() {
            $.cookieBar('addTranslation', 'en', {
                        message:	"{{ bag('gdpr', 'en', 'message') }}",
                        acceptText:	'OK',
                        infoText: "{{ bag('gdpr', 'en', 'infoText') }}",

            });
            if (getCookie('cookies-state') !== 'accepted'){
                $.cookieBar({
                    style: 'bottom-right',
                    language: 'en',
                    infoLink: "{{ bag('gdpr', 'en', 'infoLink') }}",
                });
            }
        });
    });
</script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v6.0"></script>
<script>
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
              t._e.push(f);
            };

      return t;
    }(document, "script", "twitter-wjs"));
</script>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="mainNav">
    <div class="container">
        <a href="/">
            <img class="nav__logo" src="{{ '/static/svg/Logo_European_Pirate_Party.svg'|url }}" alt="Logo" />
        </a>

        <button class="navbar-toggler navbar-toggler-right" type="button"
                                                            data-toggle="collapse"
                                                            data-target="#navbarResponsive"
                                                            aria-controls="navbarResponsive"
                                                            aria-expanded="false"
                                                            aria-label="Toggle
                                                            navigation">
            Menu <i class="fas fi-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                                                 role="button"
                                                                 data-toggle="dropdown"
                                                                 aria-haspopup="true"
                                                                 aria-expanded="false">
                        PARTY
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                           href="/about">About</a>
                        <a class="dropdown-item"
                           href="/members">Members</a>
                        <a class="dropdown-item" href="/board/">Board</a>


                        <a class="dropdown-item" href="/statuses">Statuses</a>

                        <a class="dropdown-item" href="https://wiki.ppeu.net/doku.php?id=european_pirate_party" target="_blank">Wiki</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"data-toggle="collapse" href="#collapseExample" href="#" id="navbarDropdown"
                                                                     role="button"
                                                                     data-toggle="dropdown"
                                                                     aria-haspopup="true"
                                                                     aria-expanded="false">
                            PROGRAMME
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="collapseExample">
                            <a class="dropdown-item" href="/programme">Preamble</a>
                            <a class="dropdown-item" href="/programme/agriculture-fisheries/">Agriculture & Fisheries</a>
                            <a class="dropdown-item" href="/programme/civil-society/">Civil Society</a>
                            <a class="dropdown-item" href="/programme/education-culture-research-free-knowledge/">Education, Culture, Research & Free Knowledge</a>
                            <a class="dropdown-item" href="/programme/environment-climate-and-energy/">Environment, Climate and Energy</a>
                            <a class="dropdown-item" href="/programme/finances/">Finances</a>
                            <a class="dropdown-item" href="/programme/free-software/">Free Software</a>
                            <a class="dropdown-item" href="/programme/human-rights-in-the-digital-era/">Human Rights in the Digital Era</a>
                            <a class="dropdown-item" href="/programme/international-affairs/">International Affairs</a>
                            <a class="dropdown-item" href="/programme/net-policy/">Net Policy</a>
                            <a class="dropdown-item" href="/programme/open-data/">Open Data</a>
                            <a class="dropdown-item" href="/programme/social-affairs-healthcare/">Social Affairs & Healthcare</a>
                            <a class="dropdown-item" href="/programme/space-programme/">Space Programme</a>
                            <a class="dropdown-item" href="/programme/transport/">Transport</a>
                        </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mep/">PARLIAMENT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">NEWS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events/">EVENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/career/">CAREER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-press/">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/europeanpirateparty"><i class="fi-social-facebook icon"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/EuropeanPirates"><i class="fi-social-twitter icon"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
